absl-py
accelerate
aiohappyeyeballs
aiohttp
aiohttp-cors==0.7.0
aiosignal
annotated-types==0.7.0
antlr4-python3-runtime
asciitree==0.3.3
asttokens
async-timeout
attrs
av
beautifulsoup4==4.12.3
blessed==1.20.0
blinker
bokeh==3.4.3
boto3
botocore
Brotli
cached-property
cachetools
catkin-pkg==1.0.0
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
colorful==0.5.6
contourpy
cryptography
cycler
Cython
cytoolz
dask
dataclasses
datasets
debugpy
decorator
diffusers
dill==0.3.5.1
distlib==0.3.9
dm-control==1.0.14
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docutils==0.21.2
egl_probe==1.0.2
einops==0.7.0
entrypoints
etils==1.5.2
exceptiongroup
executing
fasteners==0.15
filelock
fonttools
free-mujoco-py==2.1.6
frozenlist
fsspec
fvcore
gdown==5.2.0
gitdb
GitPython
glfw==1.12.0
google-api-core==2.24.0
google-auth
google-auth-oauthlib
googleapis-common-protos==1.63.1
gpustat==1.1.1
grpcio
gym
h5py==3.13.0
huggingface-hub==0.21.4
hydra-core
idna
imagecodecs==2022.9.26
imageio
imageio-ffmpeg
importlib_metadata
importlib_resources
iopath
ipykernel
ipython
jedi
Jinja2==3.1.6
jmespath
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
kiwisolver
labmaze==1.0.6
# llvmlite==0.39.1
locket
lxml==5.3.0
Markdown
MarkupSafe
matplotlib
matplotlib-inline
monotonic==1.6
msgpack
mujoco==2.3.7
mujoco-py==2.1.2.14
multidict
multiprocess==0.70.13
munkres==1.1.4
nest_asyncio
networkx
#numba==0.56.4
numcodecs
numpy
nvidia-ml-py==12.560.30
oauthlib
omegaconf
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.6.0
packaging
pandas
parameterized==0.9.0
parso
partd
pathtools==0.1.2
pexpect
pickleshare
Pillow
platformdirs
ply
portalocker
prometheus-client==0.13.1
promise
prompt_toolkit
propcache
proto-plus==1.25.0
protobuf==3.19.6
psutil
ptyprocess
pure_eval
py-spy==0.4.0
pyarrow==8.0.0
pyasn1
pyasn1_modules
pybullet-svl==3.1.6.4
pycparser
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.1.2
Pygments
PyJWT
pymunk
PyOpenGL==3.1.9
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyquaternion==0.9.9
PySocks
python-dateutil
pytorch3d==0.7.0
pytorchvideo==0.1.5
pytz
pyu2f
PyWavelets==1.6.0
PyYAML
pyzmq
r3m @ https://github.com/facebookresearch/r3m/archive/b2334e726887fa0206962d7984c69c5fb09cceab.tar.gz
ray==2.2.0
referencing==0.35.1
regex
requests
requests-oauthlib
responses
robomimic==0.2.0
robosuite @ https://github.com/cheng-chi/robosuite/archive/277ab9588ad7a4f4b55cf75508b44aa67ec171f0.tar.gz
rpds-py==0.22.3
rsa
s3transfer
scikit-image
scikit-video==1.1.11
scipy==1.9.1
sentry-sdk
setproctitle
Shapely
shortuuid
sip
six
smart-open==7.1.0
smmap
soupsieve==2.6
stack_data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
termcolor
threadpoolctl
tifffile
toml
tomli
toolz
torch==1.12.1
torchvision==0.13.1
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
virtualenv==20.28.0
wandb
wcwidth
Werkzeug
wrapt==1.17.2
xxhash
xyzservices==2025.4.0
yacs
yarl
zarr
zipp
